.App {
  text-align: center;
}

.screen-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgray);
}

button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bold;
  font-size: 16px;
  color: var(--accent);
}

button:hover {
  background-color: var(--hover);
}

.no-data {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkgray);
}

.error-text {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
